<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-6977942731603442",
          enable_page_level_ads: true
     });
</script></head>
<div id="seven">
  <div class="row" id="six">
    <div class="col-sm-3">
      <img id="one" alt="Angular Logo" src="http://upload.wikimedia.org/wikipedia/de/4/42/Logo_FC_Empoli.svg" />
    </div>

    <div class="col-sm-6" id="five">Elite Scoccer Broadcast</div>

    <div class="col-sm-3">
      <img id="two" alt="Angular Logo" src="http://upload.wikimedia.org/wikipedia/de/4/42/Logo_FC_Empoli.svg" />
    </div>
  </div>


  <div class="row">
    <div class="col-sm-2">

      <p id="three">Empoli FC</p>

      <ul class=sidenav>
        <li>
          <a routerLink="/myteam" routerLinkActive="active">My Team</a>
        </li>
        <li>
          <a routerLink="/allplayers" routerLinkActive="active">All Players</a>
        </li>
        <li>
          <a routerLink="/competitions" routerLinkActive="active">Competitions</a>
        </li>
        <li>
          <a routerLink="/headtohead" routerLinkActive="active">Head To Head</a>
        </li>
        <li>
          <a routerLink="/lastgame" routerLinkActive="active">Last Game</a>
        </li>
        <li>
          <a routerLink="/leaguetable" routerLinkActive="active">League Table</a>
        </li>
        <li>
          <a routerLink="/performance" routerLinkActive="active">Performace</a>
        </li>
        <li>
          <a routerLink="/season" routerLinkActive="active">Season</a>
        </li>
      </ul>

    </div>

    <div class="col-sm-8">
      <br>
      <br>
      <br>
      <br>
      <p id="four">test
        <router-outlet></router-outlet>
      </p>

    </div>
    <div class="col-sm-2"></div>
  </div>
</div>