<p>
  my-team works!
</p>
<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
-->
<script>
  $.ajax({
    headers: { 'X-Auth-Token': 'e0c7693a8b2f4529b4f2ba779d64ab4a' },
    url: 'http://api.football-data.org/v1/competitions/459/leagueTable',
    dataType: 'json',
    type: 'GET'
  }).done(function (response) {
    // do something with the response, e.g. isolate the id of a linked resource        
    var regex = /.*?(\d+)$/; // the ? makes the first part non-greedy
    //var res = regex.exec(response.fixtures[0]._links.awayTeam.href);
    //var teamId = res[1];
    //console.log(response);




    $.each(response.standing, function (i, f) {
      var tblRow = "<tr>" + "<td>" + f.position + "</td>" + "<td>" + f.teamName + "</td>" + "<td>" + f.playedGames +
        "</td>" + "<td>" + "<img src= " + f.crestURI + " height=100 width=100></img>" + "</td>" + "<td>" + f.points + "</td>" +
        "<td>" + f.goals + "</td>" + "<td>" + f.goalsAgainst + "</td>" +
        "<td>" + f.goalDifference + "</td>" + "</tr>"
      $(tblRow).appendTo("#datdata tbody");
    });










  }); 
</script>




<img src= "http://upload.wikimedia.org/wikipedia/de/0/0a/FC_Liverpool.svg";>


<div class="wrapper">
  <div class="profile">
    <table id="datdata" border="2">
      <thead>

        <th>position</th>
        <th>teamName</th>
        <th>playedGames</th>
        <th>crestURI</th>
        <th>points</th>
        <th>goals</th>
        <th>goalsAgainst</th>
        <th>goalDifference</th>
        <!--<img src=https://upload.wikimedia.org/wikipedia/de/0/0a/FC_Liverpool.svg>-->

      </thead>
      <tbody>

      </tbody>
    </table>

  </div>
</div>

